# env
.env
.env.local
.env.prod

# dependencies
node_modules/
**/node_modules/

# Hardhat
packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/typechain-types/
packages/contracts/coverage/
packages/contracts/coverage.json

# Next.js
packages/admin/.next/
packages/branch/.next/
packages/admin/out/
packages/branch/out/
packages/admin/src/generated/
packages/branch/src/generated/

# pnpm
.pnpm-store/

# misc
.DS_Store
*.log
